body
{
	background: #2c3e50;
    margin : 0;
	
}

#MiseEnPage
{
    display: flex;
	flex-direction:column;
    justify-content:start;
}

#accueil
{
	text-align: center;
	font-family: Comic sans ms;
	
}

.propos
{
	display: flex;
  	flex-wrap: wrap;
}

#comp,#contri
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

#blocC1,#blocC2,#blocC3
{
	width: 700px;
	background-color: #FFFFFF;
	border-radius: 50px;
	padding: 4%;	
	margin-bottom: 2%;
}

#blocC3
{
	margin-bottom: 2%;
}


.contriItem
{
	width: 700px;
	text-align: justify;
	padding: 3%;
	background-color: #04a5a7;
	border-radius: 50px;
	margin-bottom: 2%;

}
.contriItem img
{
	width: 700px;
}

.contriItem h3, .contriItem h2
{
	text-align: center;
}

#accueil,#competences, #contact
{
	background: #04a5a7;
	min-height: 100px;
	width: 90%;
	padding: 5%;
}

#apropos, #contributions
{
	background: #FFFFFF;
	min-height: 300px;
	width: 90%;
	padding: 5%;
}

#menu
{
	background:#212529;
    color:#000;
    height: 200px;
  	width: 100%;
    padding-top : 2%;
}

#bouton
{
	height: 50px;
	width: 100px;
	background: #FFFFFF;
	border: 5px solid #04a5a7;
	border-radius: 50px 0 0 50px;
	position: fixed;
	bottom: 20%;
	right: 0%;
	text-align: center;
	font-size: 20px;
}

nav a
{
    color:#FFFFFF;
}

#conteneur
{
	display: flex;
	flex-direction:column;
}

a
{
    text-decoration: none;
    color: #0645ad;
    background: none;
}

nav p
{
	color: #FFFFFF;
	font-family: Calibri;
	margin-left: 10%;
	font-size: 30px;
	font-weight: bold;
}


p
{
	font-size: 20px;
}

h2
{
	font-size: 40px;
}

section h2
{
	text-align: center;
	font-family: Comic sans ms;
	margin-bottom: 5%;
}



.image-ronde
{
	object-position: center;
	background: #fff;
	clip-path:ellipse(50% 50%);
	margin-bottom: 3%
}


nav ol
{
    display: flex;
    justify-content: space-around;
    list-style: none;
    border: 4px solid  #FFFFFF;
    border-radius: 50px;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 20px;
    padding-bottom: 20px;
}

ul li
{
	font-size: 20px;
}

footer div 
{
	margin-left: 10%;
	color: white;
}



